{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",

    "KL_GOOGLE_CLIENT_ID": "652232946588-qqja2g7d2qn2t930ine0p601b464obr9.apps.googleusercontent.com",

    "KL_ADMIN_EMAILS": "your-admin-email@gmail.com",

    "KL_ALLOWED_ORIGIN": "https://your-github-username.github.io",

    "KL_MEDIA_MAX_BYTES": "5242880"
  }
}
