{
  "IsEncrypted": false,
  "Values": {
    "KL_FUNCTIONS_WORKER_RUNTIME": "dotnet",

    "KL_GOOGLE_CLIENT_ID": "652232946588-qqja2g7d2qn2t930ine0p601b464obr9.apps.googleusercontent.com",

    "KL_ADMIN_EMAILS": "gautam958@gmail.com",

    "KL_ALLOWED_ORIGIN": "https://gautam958.github.io/",

    "KL_MEDIA_MAX_BYTES": "5242880"
  }
}
